.container {
  display: flex;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  background-color: var(--gray-500);
  margin-bottom: 0.75rem;
  justify-content: space-between;
}

.container .wrapper {
  display: flex;
  gap: 8px;
}

.container .roundedCheckbox {
  margin-top: 2px;
  position: relative;
  width: 18px;
  height: 18px;
  min-height: 18px;
  min-width: 18px;
  background-color: transparent;
  border: 2px solid var(--blue);
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.container .roundedCheckbox:checked {
  background-color: var(--purple-dark);
  border: 1px solid var(--purple-dark);
}

.container .roundedCheckbox:checked:hover {
  background-color: var(--purple);
  border: 1px solid var(--purple);
}


.container .roundedCheckbox:checked:before {
  content: "";
  position: absolute;
  left: 4px;
  top: 5px;
  display: flex;
  width: 7px;
  height: 3px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-color: var(--gray-100);
  transform: rotate(-45deg);
}

.container .content {
  font-size: 0.875rem;
}

.roundedCheckbox:checked+.content {
  text-decoration: line-through;
  color: var(--gray-300);
}

.deleteButton {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 5px;
  border-radius: 8px;
  min-width: 34px;
  min-height: 34px;
}

.deleteButton:hover {
  background-color: var(--gray-400);
}

.deleteButton {
  transition: background-color 0.3s;
}

.deleteButton svg path {
  transition: fill 0.3s;
}

.deleteButton:hover svg path {
  fill: var(--danger)
}